/* TRANSITIONS: Hover In - @include hoverIn; */
@mixin hoverIn {
	-webkit-transition: color 0.3s ease-in;
	transition        : color 0.3s ease-in;
}
/* TRANSITIONS: Hover Out - @include hoverOut; */
@mixin hoverOut {
	-webkit-transition: color 0.3s ease-out;
	transition        : color 0.3s ease-out;
}
