/* SIDE-PADDING - @include padding; */
@mixin padding($position) {
	@if $position == 'side' {
		padding-left : ($gutter / 3);
		padding-right: ($gutter / 3);
		@include break-min($md-break) {
			padding-left : ($gutter / 2);
			padding-right: ($gutter / 2);
		}
	}
	@else if $position == 'left' {
		padding-left: ($gutter / 3);
		@include break-min($md-break) {
			padding-left: ($gutter / 2);
		}
	}
	@else if $position == 'right' {
		padding-right: ($gutter / 3);
		@include break-min($md-break) {
			padding-right: ($gutter / 2);
		}
	}
	@else if $position == 'top' {
		padding-top: $gutter;
		@include break-min($md-break) {
			padding-top: ($gutter * 2);
		}
	}
	@else if $position == 'bottom' {
		padding-bottom: $gutter;
		@include break-min($md-break) {
			padding-bottom: ($gutter * 2);
		}
	}
}
/* POSITIONING - @include position($value, $position); */
@mixin position($value, $position) {
	@if $value == 'vertical' {
		position         : $position;
		top              : 50%;
		-webkit-transform: translateY(-50%);
		transform        : translateY(-50%);
	}
	@else if $value == 'center' {
		position         : $position;
		top              : 50%;
		right            : 50%;
		-webkit-transform: translate(50%, -50%);
		transform        : translate(50%, -50%);
	}
}
