/* FONT FAMILY - @include font-face(family, name, weight, style); */
@mixin font-face($family-name, $font-id, $font-name, $font-weight, $font-style) {
	 @font-face{
		font-family: "#{$family-name}";
		src        : url("#{$font-path}#{$font-name}.eot");
		src        : url("#{$font-path}#{$font-name}.eot?#iefix") format("embedded-opentype"), url("#{$font-path}#{$font-name}.woff") format("woff"), url("#{$font-path}#{$font-name}.ttf") format("truetype"), url("#{$font-path}#{$font-name}.svg##{$font-id}") format("svg");
		font-style : $font-style;
		font-weight: $font-weight;
	}
}
/* PX TO REM FONT MARGIN CALCULATOR - @include text-margin(size); */
@mixin text-margin($size) {
	$remValue    : ($text-size * $line-height) / $size;
	$pixelValue  : $remValue * $text-size;
	margin-bottom: $pixelValue * 1px;
	margin-bottom: $remValue * 1rem;
}
/* PX TO REM FONT SIZE CALCULATOR - @include text-size(size); */
@mixin text-size($size) {
	$remSize : $size / $text-size;
	font-size: $size + px;
	font-size: $remSize * 1rem;
}
/* BOLD FONT - @include font-bold; */
@mixin font-bold {
	font-family: $font-heading;
	font-weight: $bold;
}
/* NORMAL FONT - @include font-normal; */
@mixin font-normal {
	font-family: $font-body;
	font-weight: $normal;
}
/* INLINE LIST - @include list-inline; */
@mixin list-inline {
	list-style  : none;
	padding-left: 0;
	@include clearfix;
	li {
		float: left;
	}
}
/* UNSTYLED LIST - @include list-unstyled; */
@mixin list-unstyled {
	list-style  : none;
	padding-left: 0;
}
/* SELECTION HIGHLIGHT - @include selection-hightlight; */
@mixin selection-hightlight {
	background-color: $highlight-color;
	color           : invert($text-color);
	text-shadow     : none;
}
