/* CLEARFIX - @include clearfix; */
@mixin clearfix {
	&:after,
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
/* MIXIN IMPORTS */
@import "../mixins/_animations";
@import "../mixins/_breakpoints";
@import "../mixins/_grid";
@import "../mixins/_layout";
@import "../mixins/_typography";
