/* DOCUMENT SETUP */
html {
	box-sizing                 : border-box;
	font-size                  : $text-size + px;
	font-size                  : $text-base + %;
	overflow-y                 : scroll;
	-ms-overflow-style         : scrollbar;
	/* always force scrollbar */
	-webkit-tap-highlight-color: transparentize($white, 1);
	-webkit-tap-highlight-color: transparent;
	/* disable tap highlight */
}
/* INHERIT BOX-SIZING */
*,
:after,
:before {
	box-sizing: inherit;
}
/* BODY & HTML */
body,
html {
	color                  : $text-color;
	font-family            : $font-body, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-style             : normal;
	font-weight            : $normal;
	letter-spacing         : normal;
	line-height            : $line-height;
	text-align             : left;
	text-decoration        : none;
	text-rendering         : geometricPrecision;
	/* or optimizeSpeed, optimizelegibility */
	text-shadow            : none;
	text-transform         : none;
	white-space            : normal;
	word-break             : normal;
	word-spacing           : normal;
	word-wrap              : normal;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	background-color   : $body-color;
	background-image   : url("#{$img-path}concrete.png");
	background-position: top left;
	background-repeat  : repeat;
	margin             : 0;
	@include text-size($text-size);
}
/* RESPONSIVE IMAGES */
img {
	display  : block;
	height   : auto;
	max-width: 100%;
}
