/* RESET ALL ELEMENTS */
* {
	background-repeat: no-repeat;
	padding          : 0;
	margin           : 0;
}
/* INHERIT BOX-SIZING */
*,
:after,
:before {
	box-sizing: inherit;
}
/* INHERIT TEXT-DECORATION AND VERTICAL ALIGN */
:after,
:before {
	text-decoration: inherit;
	vertical-align : inherit;
}
/* NORMALIZE ELEMENT DISPLAY */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
	display: block;
}
summary {
	display: list-item;
}
audio,
canvas,
progress,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height : 0;
}
progress {
	vertical-align: baseline;
}
template {
	display: none;
}
[hidden] {
	display: none;
}
/* DOCUMENT SETUP */
html {
	box-sizing                 : border-box;
	font-size                  : $text-size + px;
	font-size                  : $text-base + %;
	font-family                : sans-serif;
	/* always force scrollbar */
	overflow-y                 : scroll;
	-ms-overflow-style         : scrollbar;
	/* disable tap highlight */
	-webkit-tap-highlight-color: transparentize($white, 1);
	-webkit-tap-highlight-color: transparent;
	/* iOS 8+ and IE */
	-ms-text-size-adjust       : 100%;
	-webkit-text-size-adjust   : 100%;
}
/* BODY & HTML */
body,
html {
	color                  : $text-color;
	font-family            : $font-body, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-style             : normal;
	font-weight            : $normal;
	letter-spacing         : normal;
	line-height            : $line-height;
	text-align             : left;
	text-decoration        : none;
	text-rendering         : geometricPrecision;
	/* or optimizeSpeed, optimizelegibility */
	text-shadow            : none;
	text-transform         : none;
	white-space            : normal;
	word-break             : normal;
	word-spacing           : normal;
	word-wrap              : normal;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	@include text-size($paragraph);
	background-color: $body-color;
	margin          : 0;
	min-width       : 320px;
	padding         : 0;
}
/* IMAGES */
img {
	border                : none;
	display               : block;
	height                : auto;
	max-width             : 100%;
	-ms-interpolation-mode: bicubic;
}
svg:not(:root) {
	overflow: hidden;
}
/* TEXT SELECTION */
::-moz-selection {
	@include selection-hightlight;
}
::selection {
	@include selection-hightlight;
}
