/* BUTTONS */
.button {
	@include text-size($paragraph);
	background-color   : $black;
	background-image   : none;
	border             : 1px solid $black;
	border-radius      : 0;
	box-shadow         : none;
	color              : $white;
	cursor             : pointer;
	display            : inline-block;
	font-family        : $font-body;
	font-weight        : $normal;
	line-height        : 1;
	margin             : 0;
	overflow           : visible;
	padding            : ($gutter / 2) $gutter;
	text-align         : center;
	text-decoration    : none;
	/* voodoo to enable ligatures and kerning */
	text-rendering     : optimizelegibility;
	text-shadow        : none;
	text-transform     : uppercase;
	white-space        : nowrap;
	-webkit-user-select: none;
	-moz-user-select   : none;
	-ms-user-select    : none;
	user-select        : none;
	-ms-touch-action   : manipulation;
	touch-action       : manipulation;
	-webkit-appearance : none;
	-moz-appearance    : none;
	appearance         : none;
	-webkit-transition : color $transition ease-in, background-color $transition ease-in, border $transition ease-in, box-shadow $transition ease-in;
	transition         : color $transition ease-in, background-color $transition ease-in, border $transition ease-in, box-shadow $transition ease-in;
	&:focus,
	&:hover {
		background-color  : lighten($black, 15%);
		border-color      : lighten($black, 15%);
		box-shadow        : inset 0 0 10px transparentize($black, 0.25);
		color             : $white;
		-webkit-transition: color $transition ease-out, background-color $transition ease-out, border-color $transition ease-out, box-shadow $transition ease-out;
		transition        : color $transition ease-out, background-color $transition ease-out, border-color $transition ease-out, box-shadow $transition ease-out;
	}
	&::-moz-focus-inner {
		border : 0;
		padding: 0;
	}
	&:-moz-focusring {
		outline: 1px solid;
	}
	&.is-disabled,
	&[disabled] {
		cursor : default;
		cursor : not-allowed;
		opacity: 0.75;
	}
	&--primary {
		background-color: $brand3;
		border-color    : $brand3;
		color           : $white;
		&:focus,
		&:hover {
			background-color: lighten($brand3, 10%);
			border-color    : lighten($brand3, 10%);
			color           : $white;
		}
	}
}
