/* BUTTONS */
.button {
	background-color   : $black;
	background-image   : none;
	border             : 1px solid $black;
	border-radius      : 0;
	box-shadow         : none;
	color              : $white;
	cursor             : pointer;
	display            : inline-block;
	font-family        : $font-body;
	font-weight        : $normal;
	line-height        : 1;
	margin             : 0;
	padding            : ($gutter / 2) $gutter;
	text-align         : center;
	text-decoration    : none;
	text-rendering     : optimizelegibility;
	text-shadow        : none;
	text-transform     : uppercase;
	white-space        : nowrap;
	-webkit-user-select: none;
	-moz-user-select   : none;
	-ms-user-select    : none;
	user-select        : none;
	-ms-touch-action   : manipulation;
	touch-action       : manipulation;
	-webkit-appearance : none;
	-moz-appearance    : none;
	appearance         : none;
	@include text-size($paragraph);
	&:hover {
		background-color: lighten($black, 10%);
		border-color    : lighten($black, 10%);
	}
	&:focus {
		outline: 0;
		border : 1px dotted rgba(255, 255, 255, 0.5);
	}
	&.is-disabled {
		cursor : default;
		cursor : not-allowed;
		opacity: 0.75;
		filter: alpha(opacity=0.75);
		&:hover {
			background-color: $black;
			border-color    : $black;
			color           : $white;
		}
	}
	&--primary {
		background-color: $brand3;
		border-color    : $brand3;
		color           : $white;
		&:hover {
			background-color: lighten($brand3, 10%);
			border-color    : lighten($brand3, 10%);
		}
	}
}
