/* NORMALIZE FORM ELEMENTS */
input,
optgroup,
select,
textarea {
	@include text-size($paragraph);
	font-family: $font-body, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	line-height: $line-height;
	margin     : 0;
}
optgroup {
	@include font-bold;
}
input {
	overflow: visible;
}
select {
	text-transform: none;
}
fieldset {
	border : none;
	margin : 0;
	padding: 0;
}
legend {
	box-sizing : border-box;
	color      : inherit;
	display    : table;
	max-width  : 100%;
	padding    : 0;
	white-space: normal;
}
textarea {
	overflow: auto;
	resize  : vertical;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding   : 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	-moz-appearance   : textfield;
	appearance        : textfield;
	outline-offset    : -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	appearance        : none;
}
::-webkit-input-placeholder {
	color  : inherit;
	opacity: 0.54;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	appearance        : button;
	font              : inherit;
}
select {
	-webkit-appearance: none;
	-moz-appearance   : none;
	appearance        : none;
}
select::-ms-expand {
	display: none;
}
select::-ms-value {
	color: currentColor;
}
