/* SITE COLORS */
$body-color  : #ffffff;
/* - Black & White */
$black       : #231f20;
$white       : #ffffff;
/* - Grey or Gray? */
$gray        : #808080;
$grey        : #D3D3D3;
/* BRAND COLORS */
$brand1      : #e23f7b;
$brand2      : #ffff00;
$brand3      : #001F3F;
/* SCHEME COLORS */
$male        : #3d8ff7;
$male-light  : #99c4fe;
$female      : #f06292;
$female-light: #f48eb6;
/* SOCIAL COLORS */
$twitter     : #55acee;
$facebook    : #3b5998;
$youtube     : #cd201f;
$pinterest   : #bd081c;
$instagram   : #3f729b;
/* ALERT COLORS */
$warning     : #f4aa47;
$error       : #B94A4D;
$success     : #16c98d;
$info        : #288ad6;
