/* SITE COLORS */
$body-color: #f2f2f2;
/* - Black & White */
$black     : #231f20;
$white     : #ffffff;
/* - Grey or Gray? */
$gray      : #808080;
$grey      : #D3D3D3;
/* BRAND COLORS */
$brand1    : #1f2a33;
$brand2    : #990f42;
$brand3    : #ffff00;
/* SOCIAL COLORS */
$facebook  : #3b5998;
$instagram : #3f729b;
$linkedin  : #006db3;
$pinterest : #bd081c;
$twitter   : #55acee;
$youtube   : #cd201f;
