/* BODY WRAPPER */
.body-wrapper {
	@include container-fluid;
	background-repeat: repeat-y;
	background-size  : 100% ($line-height * 1rem);
	border-left      : 1px solid $gray;
	border-right     : 1px solid $gray;
	background-image : -webkit-linear-gradient(top, $grey 0, transparentize($white, 1) 2px);
	background-image : linear-gradient(to bottom, $grey 0, transparentize($white, 1) 2px);
}
/* CONTENT WRAPPER */
.content-wrapper {
	@include container;
	@include padding(side);
	@include padding(bottom);
	@include padding(top);
	border-left : 3px solid $gray;
	border-right: 3px solid $gray;
	/* IE9 FIX */
	.lt-ie10 & {
		max-width: $xx-width;
	}
}
/* CONTENT TEST */
.col-test {
	@include columns;
	@include col(12);
	@include padding(side);
	border: 1px solid $gray;
	@include break-min($md-break) {
		/**/
		@include col(6);
	}
	&__intro {
		@include columns;
		@include col(12);
	}
}
